form {
  background: rgba(255, 238, 238, 0.7);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.7);
  padding: 20px;
}

div.wrapper {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 10px;
}

div.wrapper label {
  text-align: center;
  color: black;
  /* background: linear-gradient(to bottom,
      #ff512f,
      #dd2476); */
}

/* .bg {
    background: url('/CustomerClientApp/assets/cp1.jpg') no-repeat center / cover;
  } */

table {
  margin: auto;
  width: 75%;
  text-align: center;
  font-family: --Lobster;
}

/* /deep/ mat-label {
    color: black;
  }
  
  /deep/ mat-option {
    background-color: black;
    color: whitesmoke;
  }
  
  /deep/ mat-select,
  mat-select-value {
    color: black !important;
  
  }
  
  
  /deep/ .mat-select-panel {
    background-color: blue;
  } */

/* /deep/ .mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: black;
  } */

.mat-radio-button~.mat-radio-button {
  margin-left: 16px;
}
