@*@{
        ViewData["Title"] = "Home Page";
    }

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>*@


@{
    Layout = null;
    //Layout = "_Layout";
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>FormClientApp</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/FormClientApp/styles.css">
</head>
<body class="mat-typography">
    <app-root></app-root>
    <script src="/FormClientApp/runtime.js" defer></script>
    <script src="/FormClientApp/polyfills.js" defer></script>
    <script src="/FormClientApp/vendor.js" defer></script>
    <script src="/FormClientApp/main.js" defer></script>
</body>
</html>






